.head-brand {
  height: 34px;
  background-color: #FAFAFA;
  color: #666;
  font-size: 12px;
}
.head-brand .brand {
  float: left;
}
.head-brand .brand ul li {
  float: left;
  padding: 7px 11px;
}
.head-brand .brand ul li:first-child {
  padding-left: 0;
}
.head-brand .brand ul li:last-child {
  padding: 0;
}
.head-brand .brand ul li:last-child a {
  display: block;
  margin: 11px 0;
  width: 12px;
  height: 12px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat;
}
.head-brand .info {
  float: right;
}
.head-brand .info > div,
.head-brand .info ul {
  float: left;
}
.head-brand .info > div:first-child {
  line-height: 32px;
}
.head-brand .info > div:first-child::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -22px 0;
  vertical-align: middle;
}
.head-brand .info > div:last-child {
  padding-left: 30px;
}
.head-brand .info > div:last-child a::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 18px;
  margin: 8px 8px 0 0;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -142px 0;
  vertical-align: bottom;
}
.head-brand .info ul {
  padding-left: 20px;
}
.head-brand .info ul li {
  float: left;
  position: relative;
  line-height: 34px;
}
.head-brand .info ul li a {
  display: block;
  width: 20px;
  height: 20px;
  margin: 7px 0 0 10px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -52px 0;
}
.head-brand .info ul li div {
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.head-brand .info ul li div img {
  margin: 10px 0 0 10px;
}
.head-brand .info ul li:nth-child(3) a {
  background-position: -82px 0;
}
.head-brand .info ul li:last-child a {
  background-position: -112px 0;
}
.head {
  height: 120px;
}
.head .logo {
  float: left;
  width: 300px;
  height: 48px;
  margin: 36px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat 0 -30px;
}
.head .search {
  float: right;
  position: relative;
  width: 360px;
  height: 74px;
  margin: 23px 0;
}
.head .search span {
  font-size: 14px;
  padding: 5px 29px;
}
.head .search .search-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #EEEEF0;
}
.head .search .search-input input {
  float: left;
  width: 180px;
  height: 30px;
  padding: 9px 10px;
  border: none;
  font-size: 12px;
}
.head .search .search-input a {
  float: left;
  width: 30px;
  height: 30px;
  background-color: #fff;
}
.head .search .search-input a::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 13px auto 0;
  border: 6px solid transparent;
  border-top-color: #B8B8B8;
}
.head .search .search-input button {
  float: right;
  width: 120px;
  height: 30px;
  background-color: #00A6D2;
  border: none;
  font-size: 18px;
  color: #fff;
}
.head .search ul {
  display: none;
  position: absolute;
  top: 64px;
  margin: 0 0 0 10px;
  width: 210px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  z-index: 999;
}
.head .search ul li {
  padding: 4px 10px;
  border-bottom: 1px solid #f2f2f2;
}
.nav-brand {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.nav-brand dl {
  float: left;
  z-index: -1;
}
.nav-brand dl dt {
  width: 200px;
  height: 40px;
  background-color: #00A6D2;
  font-size: 18px;
}
.nav-brand dl dd {
  position: absolute;
  z-index: 999;
}
.nav-brand dl dd ul {
  display: none;
}
.nav-brand dl dd ul li {
  position: relative;
  padding-left: 40px;
  width: 200px;
  background-color: rgba(0, 166, 210, 0.6);
}
.nav-brand dl dd ul li:hover {
  background-color: rgba(0, 166, 210);
}
.nav-brand dl dd ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  margin: -12px;
  width: 24px;
  height: 24px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat 0 -90px;
}
.nav-brand a {
  float: left;
  display: block;
  width: 170px;
  height: 40px;
  font-size: 16px;
}
.nav-brand a:hover {
  color: #00A6D2;
}
.focus {
  position: relative;
  width: 1920px;
  height: 560px;
  margin: 0 auto;
  overflow: hidden;
}
.focus > a {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -500px 0;
  z-index: 1;
}
.focus > a:first-child {
  left: 50%;
  margin-left: -600px;
}
.focus > a:nth-child(2) {
  right: 50%;
  margin-right: -600px;
  transform: rotate(180deg);
}
.focus ul {
  position: absolute;
  width: 800%;
}
.focus ul li {
  float: left;
}
.focus ol {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.focus ol li {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.focus ol li:hover {
  background-color: #fff;
}
.nav-hot {
  position: relative;
  height: 100px;
  padding-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.nav-hot ul {
  display: flex;
}
.nav-hot ul li {
  flex: 1;
}
.nav-hot ul li:hover {
  color: #00A8D2;
}
.nav-hot ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: #555;
  font-size: 14px;
}
.nav-hot ul li a i {
  width: 40px;
  height: 40px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat;
}
.nav-hot div {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.popularize {
  display: flex;
  position: relative;
}
.popularize ol {
  position: absolute;
  bottom: 15px;
  left: 260px;
  z-index: 999;
}
.popularize ol a {
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  border-radius: 8px;
  background: #909090;
}
.popularize ol a:first-child {
  background: #0A0835;
}
.popularize .left {
  position: relative;
  width: 400px;
  height: 500px;
  overflow: hidden;
}
.popularize .left .decorate {
  position: absolute;
  width: 100%;
  height: 100%;
}
.popularize .left .decorate .top {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 36px;
  height: 100px;
  padding: 8px;
  background: rgba(39, 194, 255, 0.5);
  font-size: 18px;
  line-height: 20px;
}
.popularize .left .decorate .bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 130px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
}
.popularize .left .decorate .bottom .dname {
  padding-left: 35px;
  font-size: 24px;
  margin-top: 20px;
}
.popularize .left .decorate .bottom .dinfo {
  padding-left: 35px;
  font-size: 18px;
}
.popularize .left .decorate .bottom a {
  display: block;
  width: 170px;
  height: 24px;
  background-color: #fff;
  border-radius: 12px;
  margin: 10px auto;
  color: #000;
  text-align: center;
}
.popularize .left .decorate .bottom a span:first-child {
  float: left;
  width: 40px;
  background-color: #29bffa;
  border-radius: 12px 0 0 12px;
  color: #fff;
}
.popularize .left .d {
  position: absolute;
  display: flex;
  width: 300%;
}
.popularize .left .d li {
  position: relative;
  width: 400px;
  height: 500px;
  overflow: hidden;
}
.popularize .left .d li img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-2%);
}
.popularize .left .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  z-index: -1;
  background: url(https://ae01.alicdn.com/kf/H0b88e716eb0a457fb5af5aa1c01b7225B.jpg);
}
.popularize .right {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.popularize .right a:hover {
  animation: animateSize 0.3s forwards;
}
@keyframes animateSize {
  to {
    transform: scale(1.005);
  }
}
.case {
  margin-bottom: 40px;
}
.case h1 {
  margin: 40px 0;
  font-size: 36px;
  color: #07002c;
}
.case .casePic {
  position: relative;
  background-color: #000;
  z-index: 1;
}
.case .casePic ol {
  position: absolute;
  display: flex;
  top: 150px;
  left: 0;
  width: 100%;
  z-index: 2;
}
.case .casePic ol li {
  flex: 1;
  height: 150px;
  background: rgba(29, 29, 29, 0.7);
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  line-height: 150px;
}
.case .casePic ul {
  display: flex;
  flex-wrap: wrap;
}
.case .casePic ul li {
  width: 12.5%;
  height: 150px;
}
.case .casePic ul li a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://ae01.alicdn.com/kf/Hb717ff725cb84d34ae21ce43d81b1d821.jpg) no-repeat;
}
.case .casePic ul li:hover {
  animation: caseSize 0.3s forwards;
}
.case .casePic ul li:hover a {
  background-position-y: -150px;
}
@keyframes caseSize {
  to {
    transform: scale(1.03);
  }
}
.doctors {
  height: 460px;
  margin-bottom: 40px;
}
.doctors .date {
  float: left;
  width: 460px;
  height: 460px;
  background: #eee;
}
.doctors .date .date-head {
  display: flex;
  background: #AFAFAF;
}
.doctors .date .date-head span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
  font-size: 24px;
  color: #fff;
}
.doctors .date .date-head span i {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -30px -90px;
}
.doctors .date .date-head span:last-child i {
  background-position-x: -120px;
}
.doctors .date .date-body .doctor {
  position: relative;
  width: 400px;
  height: 250px;
  margin: 30px auto;
  background: #fff;
  overflow: hidden;
}
.doctors .date .date-body .doctor > div {
  position: absolute;
  top: 50px;
  left: 50%;
  font-size: 18px;
}
.doctors .date .date-body .doctor > div p:nth-child(2) {
  font-size: 40px;
}
.doctors .date .date-body .doctor ol {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 999;
}
.doctors .date .date-body .doctor ol li {
  display: flex;
  float: left;
  margin-left: 1px;
}
.doctors .date .date-body .doctor ol li a {
  width: 20px;
  height: 20px;
  background: #2BB3DA;
  overflow: hidden;
}
.doctors .date .date-body .doctor ol li a::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 3px 6px;
  border: 7px solid #2BB3DA;
  border-left-color: #fff;
}
.doctors .date .date-body .doctor ol li:first-child a::before {
  margin: 3px -1px;
  border-color: #2BB3DA;
  border-right-color: #fff;
}
.doctors .date .date-body .doctor ul {
  position: absolute;
  display: flex;
  width: 300%;
}
.doctors .date .date-body .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.doctors .date .date-body .button a {
  width: 170px;
  height: 60px;
  background: #00A9D6;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 60px;
}
.doctors .date .date-body .button a::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -150px -90px;
  vertical-align: -10%;
}
.doctors .date .date-body .button a:last-child::before {
  background-position-x: -180px;
}
.doctors .team {
  position: relative;
  float: right;
  width: 740px;
  height: 460px;
  background: #D4E8F1;
}
.doctors .team .text {
  position: absolute;
  bottom: 20px;
  width: 570px;
  height: 100px;
  padding: 0 20px;
  color: #fff;
  background: rgba(0, 144, 187, 0.6);
}
.doctors .team .text h3 {
  white-space: nowrap;
  margin-top: 5px;
  font-size: 24px;
}
.culture {
  height: 700px;
  padding-top: 109px;
  background: url(https://ae01.alicdn.com/kf/H354f12540755425b9783e393f85930788.jpg) no-repeat;
}
.culture div .cultureHead {
  background: #00A7D1;
  height: 48px;
  padding: 10px 0 0 20px;
}
.culture div .cultureHead li {
  float: left;
  padding: 6px 34px;
  margin-right: 2px;
  color: #fff;
  font-size: 16px;
}
.culture div .cultureBody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 435px;
  background: #fff;
  padding: 25px 20px 20px 25px;
}
.culture div .cultureBody li {
  flex: 1;
  height: 190px;
  margin: 0 5px 5px 0;
}
.culture div .cultureBody li:first-child {
  width: 290px;
  height: 385px;
}
footer {
  height: 450px;
  background: #FAFAFA;
}
footer .honor {
  border-bottom: 1px solid #D2D2D2;
}
footer .honor ul {
  display: flex;
  padding: 20px 0;
}
footer .honor ul li {
  flex: 1;
  height: 115px;
}
footer .honor ul li:not(:first-of-type) {
  margin-left: 40px;
}
footer .honor ul li a {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
footer .honor ul li a i {
  width: 60px;
  height: 60px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat 0 -200px;
  margin-bottom: 5px;
}
footer .info {
  margin-top: 40px;
}
footer .info .info-left {
  float: left;
  font-size: 14px;
  color: #424242;
  margin-left: 10px;
}
footer .info .info-left::before {
  content: '';
  width: 437px;
  height: 41px;
  display: block;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat 0 -260px;
  margin-bottom: 40px;
}
footer .info .info-left p {
  margin-bottom: 7px;
}
footer .info .info-right {
  float: left;
  margin-left: 100px;
}
footer .info .info-right ul {
  float: left;
  margin-right: 40px;
}
footer .info .info-right ul li {
  font-size: 14px;
  margin-bottom: 8px;
}
footer .info .info-right ul li:first-child {
  font-size: 18px;
}
.nav-left {
  position: fixed;
  display: none;
  top: 20%;
  left: 50%;
  margin-left: -36%;
  width: 64px;
}
.nav-left a {
  float: left;
  width: 64px;
  height: 54px;
  padding: 12px 4px;
  margin-bottom: 1px;
  background: #AAABAB;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.nav-left a:first-child {
  background: #13345B;
}
.nav-left a:last-child {
  color: #AAABAB;
  background: #E9EAEA;
}
.nav-left a:hover {
  animation: navLeftSize 0.3s forwards;
}
.nav-left a strong {
  font-size: 16px;
  font-weight: 800;
}
@keyframes navLeftSize {
  to {
    transform: scale(1.05);
  }
}
.nav-right {
  position: absolute;
  right: 50%;
  margin-right: -36%;
  width: 60px;
}
.nav-right div {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 60px;
}
.nav-right div a:hover {
  transform: scale(1.1);
  z-index: 1;
}
.nav-right a {
  transition: all 0.3s linear;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #ABABAB;
  color: #fff;
}
.nav-right a:nth-child(2n+1) {
  background-color: #13345B;
}
.nav-right a .message {
  width: 27px;
  height: 27px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -320px 0;
}
.nav-right a .message-number {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 22px;
  height: 22px;
  background: #13345B;
  border-radius: 50%;
  text-align: center;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
}
.nav-right a .qq {
  width: 25px;
  height: 27px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -350px 0;
}
.nav-right a .wechat {
  width: 35px;
  height: 27px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -380px 0;
}
.nav-right > a {
  border-radius: 50%;
  transition: all 0.3s linear;
}
.nav-right > a::after {
  content: '';
  display: block;
  width: 30px;
  border-top: 4px solid #fff;
  transition: all 0.3s linear;
}
.nav-right:hover > a {
  border-radius: 0 0 50% 50%;
}
.nav-right:hover > a::after {
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  border-right: none;
  border-bottom: none;
  transform: rotate(405deg);
  margin-top: 10px;
}
.btn-message {
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -36%;
}
.btn-message a {
  display: block;
  width: 60px;
  height: 60px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -420px 0;
}
.tips {
  position: fixed;
  display: none;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -250px;
  width: 500px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.tips > a {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat -320px -30px;
}
.tips p {
  position: absolute;
  bottom: 70px;
  right: 10px;
  height: 30px;
  color: #fff;
}
.tips div {
  display: flex;
}
.tips div a {
  flex: 1;
  height: 70px;
  background: #13345B;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
}
.tips div a:last-child {
  background: #5FC2DD;
}
.chatWindow {
  position: fixed;
  display: none;
  bottom: 30px;
  left: 50%;
  margin-left: -600px;
  width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.chatWindow .chatHead {
  height: 60px;
  background: #00B3E3;
}
.chatWindow .chatHead div,
.chatWindow .chatHead a {
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat;
}
.chatWindow .chatHead div {
  float: left;
  width: 275px;
  height: 26px;
  margin: 17px 30px;
  background-position: -220px -90px;
}
.chatWindow .chatHead a {
  float: right;
  width: 40px;
  height: 40px;
  margin: 10px 30px;
  background-position: -360px -40px;
}
.chatWindow .question .chatHead,
.chatWindow .question .chatName,
.chatWindow .question .chatTime,
.chatWindow .question .chatMessage,
.chatWindow .question p {
  float: left;
}
.chatWindow .question .chatHead::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://ae01.alicdn.com/kf/H2634d032150947709b2e207531120700N.jpg);
}
.chatWindow .question .chatInfo {
  padding-left: 65px;
}
.chatWindow .question .chatMessage {
  padding-left: 65px;
}
.chatWindow .question .chatMessage div::before {
  left: -2px;
}
.chatWindow .answer .chatHead,
.chatWindow .answer .chatName,
.chatWindow .answer .chatTime,
.chatWindow .answer .chatMessage,
.chatWindow .answer p {
  float: right;
}
.chatWindow .answer .chatInfo {
  padding-right: 65px;
}
.chatWindow .answer .chatInfo .chatName {
  background: #13345B !important;
}
.chatWindow .answer .chatMessage {
  padding-right: 65px;
}
.chatWindow .answer .chatMessage div::before {
  right: -2px;
}
.chatWindow .chatBody {
  height: 520px;
  background-color: #eee;
  padding: 50px 20px;
  overflow: auto;
}
.chatWindow .chatBody .chat {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}
.chatWindow .chatBody .chat .chatHead {
  width: 50px;
  height: 50px;
  background: linear-gradient(to right top, #FFD8E9, 75%, #27AAE2);
  border-radius: 50%;
}
.chatWindow .chatBody .chat .chatInfo {
  width: 100%;
  height: 50px;
}
.chatWindow .chatBody .chat .chatInfo .chatName {
  padding: 5px 10px;
  background: #00B3E3;
  font-size: 16px;
  font-weight: normal;
  border-radius: 10px;
  color: #fff;
}
.chatWindow .chatBody .chat .chatInfo .chatTime {
  margin: 4px 10px 0;
  color: #ddd;
}
.chatWindow .chatBody .chat .chatMessage {
  display: block;
  width: 100%;
  margin-top: -5px;
}
.chatWindow .chatBody .chat .chatMessage p {
  max-width: 350px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px;
}
.chatWindow .chatBody .chat .chatMessage div {
  position: relative;
}
.chatWindow .chatBody .chat .chatMessage div::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 15px;
  height: 15px;
  background: #fff;
  transform: rotate(-45deg);
}
.chatWindow .inputWindow {
  height: 120px;
  background: #F8F8F8;
  font-size: 16px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.chatWindow .inputWindow .fast {
  padding: 15px 20px;
  line-height: 35px;
}
.chatWindow .inputWindow .fast ul {
  float: right;
  text-align: center;
}
.chatWindow .inputWindow .fast ul li {
  float: left;
}
.chatWindow .inputWindow .fast ul li a {
  display: block;
  width: 105px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 10px;
}
.chatWindow .inputWindow .fast ul li:nth-child(-n+3) {
  margin-right: 16px;
}
.chatWindow .inputWindow .input {
  display: flex;
  padding: 0 20px;
}
.chatWindow .inputWindow .input a {
  width: 30px;
  height: 30px;
  margin: 3px 16px 0 0;
  background: url(https://ae01.alicdn.com/kf/H3d411e9f6e634858a2e83a583a66fabbc.jpg) no-repeat;
}
.chatWindow .inputWindow .input a:first-child {
  background-position-x: -160px;
}
.chatWindow .inputWindow .input a:nth-child(2) {
  background-position-x: -190px;
}
.chatWindow .inputWindow .input input {
  width: 399px;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding-left: 20px;
  margin-right: 20px;
}
.chatWindow .inputWindow .input button {
  width: 49px;
  height: 40px;
  background-color: #00B3E3;
  border: none;
  border-radius: 10px;
  color: #fff;
}
.search-current {
  background-color: #eee;
}
.doctors-current {
  color: #0C003D !important;
  background: #eee;
}
.culture-current {
  color: #555 !important;
  background-color: #fff;
}
